.todoListContainer {
  flex: 1.5;
  display: flex;
  max-width: 50%;
  border-radius: 10px;
  background-color: white;
  height: 500px;
  flex-direction: column;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  position: relative;
}
.todoListHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  background-color: white;
  width: 90%;
  height: 50px;
}

.todoListTitle {
  font-weight: 700;
  font-size: 20px;
}
.todoList {
  overflow-y: scroll;
  scroll-behavior: auto;
  margin-top: 80px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.todoList::-webkit-scrollbar {
  display: none;
}
.todoItem {
  height: 48px;
  list-style: none;
}
.addBtn {
  width: 40px;
  height: 40px;
  font-size: 16px;
  color: white;
}
