.modalBackground {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0px;
  left: 0px;
  padding: 20px;
  scrollbar-width: 0px;
}
.modalContentSection {
  height: 80%;
  width: 40%;
  max-width: 70%;
  position: absolute;
  align-items: center;
  justify-content: center;
  scrollbar-width: 0px;
}
